.side-drawer{
    height: 100%;
    background: rgb(64, 224, 208,0.80);
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 66px;
    left: 0;
    width: 25%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    overflow-y: scroll;
}
.side-drawer ul{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}

.side-drawer.open{
    transform: translateX(0);
}
.side-drawer.close{
    transform: translateX(-100%);
}
.side-drawer li{
    margin: 0.5rem 0;
    line-height: 5;
}
.side-drawer a{
    color: black;
    font-size: 20px;
}
.side-drawer li i{
    font-size: 35px;
    color: #0b3a83;
}
@media (min-width:769px){
    .side-drawer{
        display: none;
    }
}