.team-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    width: 80%;
    margin: 40px auto 65px auto;
}
.team-wrapper>h2{
    font-size: 28px;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}
.profile-container{
    width: 250px;
    
    margin-top: 2rem;
    box-sizing: border-box;
}
.profile{
    overflow: hidden;
    width: 130px;
    margin:10px auto;
    height: 130px;
    border-radius: 200px;
/* box-shadow: 2px 7px 20px #bbb; */
box-shadow: 5px 10px 28px #888;
-webkit-box-shadow: 5px 10px 28px #888;
-moz-box-shadow: 5px 10px 28px #888;
text-align: center;
user-select: none;
transition: transform .3s ease-out;
box-sizing: border-box;
cursor: pointer;
}
.profile img{
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}
.profile:hover{
    transform: scale(1.12);
}
.profile-text{
    color: #5f5f5f;
    text-align: center;
}
.profile-text>p{
    font-size: 18px;
    font-weight:bold;
}
.about-top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.about-top-img>img{
    height: 400px;

}
.about-top-text{
text-align: left;
font-size:17px;
}
@media(max-width:769px)
{
    .about-top-text{
        text-align: left;
        font-size:17px;
        padding: 0 18px;
        }
        .about-top{
            display: flex;
            flex-direction: column;
        }
        .about-top-img>img{
            height: 300px;
        
        }
}