.book-card {
  margin: 60px 80px;
  width: 240px;
  padding: 16px;
  border-radius: 5px;
  background: transparent;

}
.book-card .book-card__cover {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 auto 8px auto;
  perspective: 1000px;
  scale: 0.9;
  transition: all 0.5s ease-out;
}
.book-card .book-card__book {
  height: 100%;
  transform-style: preserve-3d;
  transition: all 250ms ease;
  transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
}
.book-card .book-card__book-front {
  position: absolute;
  height: 100%;
}
.book-card .book-card__book-back {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateZ(-8px);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}
.book-card .book-card__book-side {
  position: absolute;
  top: 5px;
  bottom: 2px;
  right: -6px;
  width: 8px;
  background-size: 5px;
  background-color: #e1e1e1;
  background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
  opacity: 1;
  transform: rotate3d(0, 1, 0, 90deg);
}
.book-card .book-card__img {
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
}
.book-card .book-card__title {
  font-size: 1.5em;
  font-family: Carter One;
  text-align: center;
  margin-top: -20px;
  color: black;
}
.book-card .book-card__cover:hover{
  scale: 0.966;
}

.book-card:hover .book-card__book-side {
  opacity: 1;
}


  .editions-wrapper{
      width: 100%;
      padding: 40px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

  }
  @media (max-width:769px){
    .book-card{
      margin: 45px auto;

    }
    .editions-wrapper{
      flex-direction: column;
    }
  }
  /* .effect7
{
  
    position:relative;
    background-color: #fff;
    -webkit-box-shadow:0;
       -moz-box-shadow:0;
            box-shadow:0;
}
.effect7:before, .effect7:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0;
    -moz-box-shadow:0;
    box-shadow:0;
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
    opacity: 0;
}
.effect7:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);

            opacity: 0;
} */
  /* @media only screen and(orientation:portrait){
.effect7
{
  
    position:relative;
    background-color: #fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
    .effect7:before, .effect7:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:4px 3px 20px rgba(0,0,0,0.8);
    -moz-box-shadow:5px 4px 20px rgba(0,0,0,0.8);
    box-shadow:5px 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
    opacity: 1;
}
.effect7:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);

            opacity: 1;
}
  } */
  

  #dk-editions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #mb-editions{
    display: none;
  }

  @media (max-width:769px){
    #dk-editions{
      display: none;
    }
    #mb-editions{
      display: block;
    }
   .book-card{
  
   }
   .book-card .book-card__title{
     
   }
  }