#nfc-wrapper{
    background: transparent;
}
#nfc-wrapper>.col>.nfc-hd-dk{
    text-align: center;
    display: block;
    margin: 6.92rem 0 -3.088rem 0;
}
#nfc-wrapper>.col>.nfc-hd-mb{
    text-align: center;
    display: none;
}
#nfc-wrapper >#nfc-row2{
    margin-top: 40px;
    padding: 30px ;
}
#nfc-wrapper> #nfc-row2 >div >img{
    height: 340px;
    box-shadow: 10px 10px 5px#5D6C89;
      -moz-box-shadow: 10px 10px 5px #5D6C89;
      -webkit-box-shadow: 10px 10px 5px#5D6C89;
      -khtml-box-shadow: 10px 10px 5px #5D6C89;
}

#nfc-wrapper >#nfc-row2> div> p{
    font-size: 20px;
    padding: 20px 0;
}
.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    font-size: 16px;
}
@media (max-width:769px){
    #nfc-wrapper{
        margin-top: 50px;
    }
    #nfc-wrapper> #nfc-row2 >div> img{
        height: 200px;
        
    }
    #nfc-wrapper >#nfc-row2> div> p{
        font-size: 16px;
        padding: 20px 0;
    }
    #nfc-wrapper >#nfc-row2{
        margin-top: 10px;
        padding: 10px ;
    }
    .MuiButton-label{
        font-size: 16px;
    }
    #nfc-wrapper>.col>.nfc-hd-dk{
        text-align: center;
        display: none;
    }
    #nfc-wrapper>.col>.nfc-hd-mb{
        text-align: center;
        display: block;
    }
}