/* .subscription-wrapper{
    margin-top: 100px;
    padding: 30px 0;
    text-align: center;
   background: transparent;
    width: 100%;
} */
h2{
    font-weight: 400;
    font-size: 2.56rem;
    color: black;
    text-align: center;
}
#subscription-form{
    margin: 40px auto 100px auto;
    padding: 20px;
    width: 50%;
    background: white;

}


/*generate password css*/

/* *1*: make it "untouchable" **/
.is-hidden--off-flow {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: -10;
   /* *1* */
    visibility: hidden;
   /* *1* */
}
.is-shown--off-flow {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    visibility: visible;
}



.l-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
    text-align: center;
}
.l-modal__shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    background: #161616;
    opacity: 0.92;
    z-index: -1;
    cursor: pointer;
}
.l-modal__body {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.c-popup {
    display: inline-block;
    text-align: center;
    background: white;
    max-width: 400px;
    width: 90%;
    padding: 20px;
    line-height: 1.48;
    border-radius: 0.425rem;
}


.c-popup__title {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 1.4em;
    color: #3a3a3a;
    font-weight: normal;
}
.c-popup__description {
    font-size: 1.1em;
    color: #a1a1a1;
    padding: 0 30px;
    margin-bottom: 48px;
}
.button-primary {
    background: #0c58a7;
    background: linear-gradient(#0c58a7, #0b3a83);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 1px;
    display: inline-block;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    transition: all 0.2s ease-out;
    border: none;
    border-radius: 1.25rem;
    margin: 0 auto;
}
.button-primary:hover {
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset, 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in;
    color: #f2f2f2;
}

@media only screen and (max-width: 769px){
    #subscription-form{
        margin: 40px auto 100px auto;
        padding: 20px 4px;
        width: 90%;
    
    }
    h2{
        font-size: 30px;
    }
    #subscription-form p{
        font-size: 10px;
        width: 80%;
    }
}
