.toolbar{
    position: fixed;
    width:100%;
    background: turquoise;
    height: 65px;
    z-index: 90;
    top:0;
    left:0;
}
.toolbar_navigation{
    display: flex;
    height: 100%;
    padding: 0 1rem;
    background: turquoise;
    align-items: center;
}
.toolbar_navigation img{
    height: 100px;
    transform:translate(30%,12%);
}
.toolbar_nav-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.spacer{
    flex: 1;
}
nav ul li:hover{
    background: none;
}
.toolbar_nav-items  li{
    padding: 0 0.5rem;
}
.toolbar_nav-items a{
    color: black;
    text-decoration: none;
}

@media (max-width:769px){
    .toolbar_nav-items{
        display: none;
    }
    .toolbar_navigation img{
       margin:-45px 4rem;
    }
    .toolbar_navigation img{
        height: 100px;
        transform:translate(42%);
    }
}
@media (min-width:769px){
    .toolbar_toggle-button{
        display: none;
    }
}